git+https://github.com/vmware/vsphere-automation-sdk-python.git#master
ansible==2.9.5
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
enum34==1.1.9
idna==2.9
ipaddress==1.0.23
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==19.1.0
pyvmomi==6.7.3
PyYAML==5.3
requests==2.23.0
six==1.14.0
suds==0.4
urllib3==1.25.8
